.main-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9457a0;
  padding: 0 2rem;
}

.main-head h1 {
  color: white;
}

.nav-fil ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-fil li {
  margin: 0;
  margin-left: 2rem;
  color: white;
  text-decoration: none;
}

.searchBar {
  margin: 0;
  margin-left: 2rem;
}

.movieTvFilter {
  margin: 0;
  margin-left: 2rem;
  color: white;
}
